* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f242a;
  font-family: "Work Sans", sans-serif;
}

.hero-section {
  width: 100%;
  padding-top: 60px;
}

.hero-section .desk-relative {
  position: relative;
}

.hero-section .desktop-show img {
  width: 100%;
  max-width: 800px;
}

.hero-section .mob-relative {
  position: relative;
  display: none;
}

.container-fliud {
  padding: 20px 8%;
}

.strt-btn {
  background: #ffa31a;
  border-radius: 5px;
  color: #011226;
  font-size: 16px;
  font-weight: 600;
  word-wrap: break-word;
  width: 187.99px;
  height: 52.22px;
  border: none;
}

.hero-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 210px;
  height: 210px;
  background-image: url("images/arw_dwn.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: -40px;
  margin-left: -80px;
}

.mo-hero-circle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  background-image: url("images/arw_dwn.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-circle .arrow {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 100%;
  bottom: -55%;
}

/*---------- Mobile responsive for hero section ---------*/

@media screen and (max-width: 768px) {
  .hero-section {
    padding: 30px 10px;
  }

  .hero-section .container-fliud {
    padding: 20px 10px !important;
  }
  .hero-section .mob-relative {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .hero-section .right {
    display: none;
  }

  .hero-section .hero-content {
    width: 100%;
  }
  .hero-section .mobile-show img {
    width: 100%;
    max-width: 500px;
    object-fit: contain;
  }
  .mo-hero-circle {
    margin-bottom: -50px !important;
  }

  .mo-hero-circle .arrow {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 100%;
    bottom: -55% !important;
  }
  .hero-section .strt-btn {
    margin-top: 20px;
  }
}

.counter-section {
  position: relative;
  padding: 80px 0px;
  width: 100%;
  margin: 0 auto;
}

.counter-main-content {
  display: flex;
  align-items: center;
  padding: 40px;
}

.counter-section .counter-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.counter-section .counter-1 h1 {
  color: black;
  font-size: 64px;
  font-weight: 800;
  line-height: 77px;
  word-wrap: break-word;
}

/*---------- Mobile responsive for counter section ---------*/

@media screen and (max-width: 768px) {
  .counter-main-content {
    flex-direction: column !important;
    gap: 40px;
  }
}

.approach-section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 80px;
  width: 100%;
}

.approach-section .section-heading {
  text-align: center;
}

.approach-section .box:hover {
  background: #0e556d17;
  border-radius: 10px;
}

.approach-section .active {
  background: #3cc6f226;
  border-radius: 10px;
}

.approach-section #appr-head {
  margin-top: 80px;
}

/*---------- Mobile responsive for approach section ---------*/

@media screen and (max-width: 768px) {
  .approach-section .row {
    flex-direction: column !important;
    gap: 40px;
  }
}

.belt-section {
  width: 100%;
  background-image: url("images/belt.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 250px;
  margin: 40px 0;
}

@media screen and (max-width: 768px) {
  .belt-section {
    height: 150px;
    margin: 30px 0 !important;
  }
}

.whyC10-section {
  position: relative;
  margin-top: 130px;
  margin-bottom: 160px;
  width: 100%;
}

.whyC10-section .section-heading {
  text-align: center;
  padding-bottom: 60px;
}

.whyC10-section .accordion {
  border-top: 0.5px solid #f5f5f560;
  border-bottom: 0.5px solid #f5f5f560;
}

.whyC10-section .accordion-button {
  background-image: url("images/btn-dwn.svg");
  background-size: cover;
  background-position: center center;
  width: 60px;
  height: 60px;
  color: #fff;
  fill: #fff;
  /* rotate: -180deg; */
}

/* Define styles for the open button icon */
.whyC10-section .accordion-button.open {
  background-image: url("images/btn-dwn.svg");
  background-size: cover;
  background-position: center center;
  width: 60px;
  height: 60px;
  rotate: 180deg;
}

.whyC10-section #hiddenDiv {
  color: #ffffffa1;
  /* margin-left: 125px; */
  padding: 40px 0 20px 0;
  transform: translateY(-100%);
  transition: transform 2s ease-in;
  display: none;
}

.whyC10-section #hiddenDiv p {
  margin-left: 125px;
}

.whyC10-section .show {
  display: flex !important;
  transform: translateY(0) !important;
}

.whyC10-section .accordion .box h1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 31.5px;
  word-wrap: break-word;
  color: #fff;
}
.whyC10-section .accordion .box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 31.5px;
  word-wrap: break-word;
  color: #fff;
}

.whyC10-section .accordion .middle {
  color: #fff;
  cursor: pointer;
}

.whyC10-section .accordion .accordion-button svg {
  width: 60px;
  height: 60px;
}

.whyC10-section .accordion #element1 {
  fill: #fff !important;
  color: #fff !important;
  margin-right: 80px;
}

.whyC10-section .accordion:hover {
  background-color: #c0e4e311 !important;
  border-bottom: 1px solid #3cc6f2 !important;
}

.whyC10-section .accordion:hover #element1 {
  color: #3cc6f2 !important;
  fill: #3cc6f2 !important;
}

.whyC10-section .accordion .left {
  display: flex;
  align-items: flex-start;
}

.whyC10-section .accordion .left .box {
  margin-right: 80px;
}

.whyC10-section .accordion.active {
  background-color: #c0e4e311 !important;
  border-bottom: 1px solid #3cc6f2 !important;
}
.whyC10-section .accordion.active #element1 {
  color: #3cc6f2 !important;
  fill: #3cc6f2 !important;
}

/*---------- Mobile responsive for accordion section ---------*/

@media screen and (max-width: 768px) {
  .whyC10-section .accordion #element1 {
    color: #fff;
    margin-right: 20px;
  }

  .whyC10-section .accordion .right .box {
    display: none;
  }

  .whyC10-section #hiddenDiv p {
    margin-left: 65px;
  }

  .whyC10-section .accordion .left {
    justify-content: space-around !important;
  }
}
